In [ ]:
!pip install odfpy
import pandas as pd

Requirement already satisfied: odfpy in /usr/local/lib/python3.11/dist-packages (1.4.1)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.11/dist-packages (from odfpy) (0.7.1)

In [ ]:
df = sheet_to_df_map = pd.read_excel('/content/Detailed_LA_202212 (1).ods', sheet_name='A8',header=4,)
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Total owed a prevention or relief duty1,Unnamed: 5,Unnamed: 6,Total,Unnamed: 8,White: English / Welsh / Scottish / Northern Irish / British,...,Unnamed: 50,Total.4,Unnamed: 52,Other ethnic group: Arab,Unnamed: 54,Any other ethnic group,Unnamed: 56,Unnamed: 57,Not known2,Unnamed: 59
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E92000001,ENGLAND,NaN,NaN,69230,1.0,NaN,46050,0.67,40380,...,NaN,2960,0.04,1020,0.01,1940,0.03,NaN,6100,0.09
2,E12000007,London,NaN,NaN,13070,1.0,NaN,4070,0.31,2460,...,NaN,1140,0.09,400,0.03,750,0.06,NaN,1700,0.13
3,-,Rest of England,NaN,NaN,56160,1.0,NaN,41980,0.75,37920,...,NaN,1810,0.03,620,0.01,1190,0.02,NaN,4400,0.08
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,E12000001,North East,NaN,NaN,4350,1.0,NaN,3690,0.85,3540,...,NaN,130,0.03,50,0.01,80,0.02,NaN,250,0.06
6,E12000002,North West,NaN,NaN,10600,1.0,NaN,7820,0.74,7380,...,NaN,470,0.04,200,0.02,270,0.03,NaN,650,0.06
7,E12000003,Yorkshire and The Humber,NaN,NaN,6920,1.0,NaN,5190,0.75,4740,...,NaN,290,0.04,80,0.01,200,0.03,NaN,400,0.06
8,E12000004,East Midlands,NaN,NaN,5230,1.0,NaN,3850,0.74,3410,...,NaN,180,0.03,40,0.01,140,0.03,NaN,330,0.06
9,E12000005,West Midlands,NaN,NaN,6630,1.0,NaN,3880,0.59,3390,...,NaN,260,0.04,90,0.01,170,0.03,NaN,1050,0.16

In [ ]:

data=df.dropna(axis=1,thresh=2)
data=data.dropna(axis=0,how='all')
data=data.drop(columns='Unnamed: 0')
data.head(10)

,Unnamed: 1,Total owed a prevention or relief duty1,Unnamed: 5,Total,Unnamed: 8,White: English / Welsh / Scottish / Northern Irish / British,Unnamed: 10,White: Irish,Unnamed: 12,White: Gypsy or Irish Traveller,...,Any other Mixed / Multiple ethnic background,Unnamed: 49,Total.4,Unnamed: 52,Other ethnic group: Arab,Unnamed: 54,Any other ethnic group,Unnamed: 56,Not known2,Unnamed: 59
1,ENGLAND,69230,1.0,46050,0.67,40380,0.58,380,0.01,190,...,640,0.01,2960,0.04,1020,0.01,1940,0.03,6100,0.09
2,London,13070,1.0,4070,0.31,2460,0.19,110,0.01,20,...,280,0.02,1140,0.09,400,0.03,750,0.06,1700,0.13
3,Rest of England,56160,1.0,41980,0.75,37920,0.68,270,0.0,160,...,360,0.01,1810,0.03,620,0.01,1190,0.02,4400,0.08
5,North East,4350,1.0,3690,0.85,3540,0.81,10,0.0,0,...,30,0.01,130,0.03,50,0.01,80,0.02,250,0.06
6,North West,10600,1.0,7820,0.74,7380,0.7,60,0.01,20,...,70,0.01,470,0.04,200,0.02,270,0.03,650,0.06
7,Yorkshire and The Humber,6920,1.0,5190,0.75,4740,0.68,20,0.0,10,...,30,0.0,290,0.04,80,0.01,200,0.03,400,0.06
8,East Midlands,5230,1.0,3850,0.74,3410,0.65,20,0.0,20,...,40,0.01,180,0.03,40,0.01,140,0.03,330,0.06
9,West Midlands,6630,1.0,3880,0.59,3390,0.51,30,0.0,20,...,50,0.01,260,0.04,90,0.01,170,0.03,1050,0.16
10,East of England,6570,1.0,4890,0.74,4220,0.64,40,0.01,30,...,50,0.01,150,0.02,40,0.01,100,0.02,550,0.08
11,London,13070,1.0,4070,0.31,2460,0.19,110,0.01,20,...,280,0.02,1140,0.09,400,0.03,750,0.06,1700,0.13

In [ ]:
data.to_csv('cleaned-A8-data.csv',index=False)