In [ ]:
import pandas as pd

In [ ]:
first = pd.read_csv('/content/Cambridge_Homeless_Point-in-Time_Count_data__2012-2024_20250216.csv')

In [ ]:
first.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 33 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Year                                           39 non-null     int64
 1   PIT Date                                       39 non-null     object
 2   Housing Type                                   39 non-null     object
 3   Number of Households                           39 non-null     int64
 4   Number of Persons                              39 non-null     int64
 5   Persons in households with children            39 non-null     int64
 6   Single Individuals                             39 non-null     int64
 7   Children under age 18                          36 non-null     float64
 8   Persons age 18 to 24                           36 non-null     float64
 9   Persons over age 24                            36 non-null     float64
 10  Female                                         33 non-null     float64
 11  Male                                           33 non-null     float64
 12  Transgender                                    33 non-null     float64
 13  Don't identify as male, female or transgender  24 non-null     float64
 14  Veterans                                       39 non-null     int64
 15  Unaccompanied Youth                            30 non-null     float64
 16  Parenting Youth                                30 non-null     float64
 17  Non-Hispanic/Non-Latino                        33 non-null     float64
 18  Hispanic/Latino                                33 non-null     float64
 19  White                                          33 non-null     float64
 20  Black or African-American                      33 non-null     float64
 21  Asian                                          33 non-null     float64
 22  American Indian or Alaska Native               33 non-null     float64
 23  Native Hawaiian or Other Pacific Islander      33 non-null     float64
 24  Multiple Races                                 33 non-null     float64
 25  Adults with Serious Mental Illness             38 non-null     float64
 26  Adults with Substance Use Disorder             38 non-null     float64
 27  Adults with HIV/AIDS                           38 non-null     float64
 28  Victims of Domestic Violence                   38 non-null     float64
 29  Chronically Homeless persons                   27 non-null     float64
 30  Total Units for Households with Children       26 non-null     float64
 31  Total Beds for Households with Children        26 non-null     float64
 32  Total Beds for Households without Children     26 non-null     float64
dtypes: float64(25), int64(6), object(2)
memory usage: 10.2+ KB

Unaccompanied Youth and Parenting Youth??????

In [ ]:
first = first.drop(columns=(['Adults with HIV/AIDS', 'Adults with Substance Use Disorder', 'PIT Date', 'Adults with Serious Mental Illness']))

In [ ]:
first.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 29 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Year                                           39 non-null     int64
 1   Housing Type                                   39 non-null     object
 2   Number of Households                           39 non-null     int64
 3   Number of Persons                              39 non-null     int64
 4   Persons in households with children            39 non-null     int64
 5   Single Individuals                             39 non-null     int64
 6   Children under age 18                          36 non-null     float64
 7   Persons age 18 to 24                           36 non-null     float64
 8   Persons over age 24                            36 non-null     float64
 9   Female                                         33 non-null     float64
 10  Male                                           33 non-null     float64
 11  Transgender                                    33 non-null     float64
 12  Don't identify as male, female or transgender  24 non-null     float64
 13  Veterans                                       39 non-null     int64
 14  Unaccompanied Youth                            30 non-null     float64
 15  Parenting Youth                                30 non-null     float64
 16  Non-Hispanic/Non-Latino                        33 non-null     float64
 17  Hispanic/Latino                                33 non-null     float64
 18  White                                          33 non-null     float64
 19  Black or African-American                      33 non-null     float64
 20  Asian                                          33 non-null     float64
 21  American Indian or Alaska Native               33 non-null     float64
 22  Native Hawaiian or Other Pacific Islander      33 non-null     float64
 23  Multiple Races                                 33 non-null     float64
 24  Victims of Domestic Violence                   38 non-null     float64
 25  Chronically Homeless persons                   27 non-null     float64
 26  Total Units for Households with Children       26 non-null     float64
 27  Total Beds for Households with Children        26 non-null     float64
 28  Total Beds for Households without Children     26 non-null     float64
dtypes: float64(22), int64(6), object(1)
memory usage: 9.0+ KB