In [1]:
!pip install matplotlib seaborn
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn import preprocessing

data = pd.read_excel("/content/Detailed_LA_20232024.xlsx", sheet_name=12, engine='openpyxl')

Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (3.10.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.11/dist-packages (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pandas>=1.2 in /usr/local/lib/python3.11/dist-packages (from seaborn) (2.2.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Data columns (total 60 columns):
 #   Column                                                                                                                                     Non-Null Count  Dtype
---  ------                                                                                                                                     --------------  -----
 0   Table A8 - Ethnicity of main applicants assessed as owed a prevention or relief duty by local authority
England, April 2023 to March 2024  314 non-null    object
 1   Unnamed: 1                                                                                                                                 318 non-null    object
 2   Unnamed: 2                                                                                                                                 0 non-null      float64
 3   Unnamed: 3                                                                                                                                 0 non-null      float64
 4   Unnamed: 4                                                                                                                                 310 non-null    object
 5   Unnamed: 5                                                                                                                                 308 non-null    object
 6   Unnamed: 6                                                                                                                                 1 non-null      object
 7   Unnamed: 7                                                                                                                                 311 non-null    object
 8   Unnamed: 8                                                                                                                                 308 non-null    object
 9   Unnamed: 9                                                                                                                                 309 non-null    object
 10  Unnamed: 10                                                                                                                                308 non-null    object
 11  Unnamed: 11                                                                                                                                309 non-null    object
 12  Unnamed: 12                                                                                                                                308 non-null    object
 13  Unnamed: 13                                                                                                                                309 non-null    object
 14  Unnamed: 14                                                                                                                                308 non-null    object
 15  Unnamed: 15                                                                                                                                309 non-null    object
 16  Unnamed: 16                                                                                                                                308 non-null    object
 17  Unnamed: 17                                                                                                                                1 non-null      object
 18  Unnamed: 18                                                                                                                                311 non-null    object
 19  Unnamed: 19                                                                                                                                308 non-null    object
 20  Unnamed: 20                                                                                                                                309 non-null    object
 21  Unnamed: 21                                                                                                                                308 non-null    object
 22  Unnamed: 22                                                                                                                                309 non-null    object
 23  Unnamed: 23                                                                                                                                308 non-null    object
 24  Unnamed: 24                                                                                                                                309 non-null    object
 25  Unnamed: 25                                                                                                                                308 non-null    object
 26  Unnamed: 26                                                                                                                                0 non-null      float64
 27  Unnamed: 27                                                                                                                                311 non-null    object
 28  Unnamed: 28                                                                                                                                308 non-null    object
 29  Unnamed: 29                                                                                                                                309 non-null    object
 30  Unnamed: 30                                                                                                                                308 non-null    object
 31  Unnamed: 31                                                                                                                                309 non-null    object
 32  Unnamed: 32                                                                                                                                308 non-null    object
 33  Unnamed: 33                                                                                                                                309 non-null    object
 34  Unnamed: 34                                                                                                                                308 non-null    object
 35  Unnamed: 35                                                                                                                                309 non-null    object
 36  Unnamed: 36                                                                                                                                308 non-null    object
 37  Unnamed: 37                                                                                                                                309 non-null    object
 38  Unnamed: 38                                                                                                                                308 non-null    object
 39  Unnamed: 39                                                                                                                                0 non-null      float64
 40  Unnamed: 40                                                                                                                                311 non-null    object
 41  Unnamed: 41                                                                                                                                308 non-null    object
 42  Unnamed: 42                                                                                                                                309 non-null    object
 43  Unnamed: 43                                                                                                                                308 non-null    object
 44  Unnamed: 44                                                                                                                                309 non-null    object
 45  Unnamed: 45                                                                                                                                308 non-null    object
 46  Unnamed: 46                                                                                                                                309 non-null    object
 47  Unnamed: 47                                                                                                                                308 non-null    object
 48  Unnamed: 48                                                                                                                                309 non-null    object
 49  Unnamed: 49                                                                                                                                308 non-null    object
 50  Unnamed: 50                                                                                                                                0 non-null      float64
 51  Unnamed: 51                                                                                                                                311 non-null    object
 52  Unnamed: 52                                                                                                                                308 non-null    object
 53  Unnamed: 53                                                                                                                                309 non-null    object
 54  Unnamed: 54                                                                                                                                308 non-null    object
 55  Unnamed: 55                                                                                                                                309 non-null    object
 56  Unnamed: 56                                                                                                                                308 non-null    object
 57  Unnamed: 57                                                                                                                                0 non-null      float64
 58  Unnamed: 58                                                                                                                                311 non-null    object
 59  Unnamed: 59                                                                                                                                308 non-null    object
dtypes: float64(6), object(54)
memory usage: 153.9+ KB

In [7]:
# Remove rows with missing values below the 5th line
df_cleaned = pd.concat([data.iloc[:5], data.iloc[5:].dropna(thresh=len(data.columns)-3)])

# Save the cleaned data to a new Excel file
cleaned_file_path = '/content/Detailed2.csv'
df_cleaned.to_csv(cleaned_file_path, index=False)

print("Data cleaning completed successfully!")

Data cleaning completed successfully!

In [2]:
print(data.columns)

Index(['Table A8 - Ethnicity of main applicants assessed as owed a prevention or relief duty by local authority\nEngland, April 2023 to March 2024',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42',
       'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
       'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50',
       'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54',
       'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58',
       'Unnamed: 59'],
      dtype='object')

In [ ]:
# Define multi-level column headers
columns = [
    ("White", "Total"), ("White", "White: English / Welsh / Scottish / NI / British"),
    ("White", "White: Irish"), ("White", "White: Gypsy or Irish Traveller"), ("White", "Any other White ethnic group"),
    ("Black / African / Caribbean / Black British", "Total"), ("Black / African / Caribbean / Black British", "Black: African"),
    ("Black / African / Caribbean / Black British", "Black: Caribbean"), ("Black / African / Caribbean / Black British", "Any other Black background"),
    ("Asian / Asian British", "Total"), ("Asian / Asian British", "Asian: Indian"), ("Asian / Asian British", "Asian: Bangladeshi"),
    ("Asian / Asian British", "Asian: Chinese"), ("Asian / Asian British", "Any other Asian background"),
    ("Mixed / Multiple ethnic groups", "Total"), ("Mixed / Multiple ethnic groups", "White and Black Caribbean"),
    ("Mixed / Multiple ethnic groups", "White and Black African"), ("Mixed / Multiple ethnic groups", "White and Asian"),
    ("Mixed / Multiple ethnic groups", "Any other Mixed background"),
    ("Other ethnic group", "Total"), ("Other ethnic group", "Other ethnic group: Arab"),
    ("Other ethnic group", "Any other ethnic group")
]

# Assign the multi-index to the selected columns
data.to_csv("/content/Detailed.csv", index=False)
print("Data loaded and columns renamed successfully!")